@{
    Layout = "_Layout.cshtml";
    var registration = ViewData.Model as MedicalEngineMicroService.Core.Models.Views.Registration;    
 }

<div>
    <p>Hi <b>@registration.Email</b>,</p>
   
    <p>We received your request to reset the password for your takealot.com account.</p>

   <p><b>Please click on the link below to choose a new password:></b></p>
     
    <div class="row">
        <div class="col-sm-8 col-md-6 col-lg-8">
            <div class="text-center">
                <a class="btn btn-primary" href =@registration.CallbackUrl target="_blank">Reset Password</a>
            </div>
        </div>
    </div>

    <p>We are all about safe and secure so this link will only be be valid for a little while. If it expires, simply request a new one by clicking the link below:</p>

         
    <div class="row">
        <div class="col-sm-8 col-md-6 col-lg-8">
            <div class="text-center">
                <a class="btn btn-primary" href =@registration.CallbackUrl target="_blank">forgot password</a>
            </div>
        </div>
    </div>
  
    <br />
    <p>
    Thanks<br />
    Subelo System Administrator
    </p>
</div>



